.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}
.btn {
  font-size: 20px;
  border-radius: 10px;
}
.btn:hover,
.btn:focus {
  border-color: blue;
  color: blue;
  background-color: rgb(204, 252, 235);
}
